@{
    ViewData["Title"] = "Home Page";
}

 @model List<HoldEvent.Models.Entities.User>

<div class="text-center">
    <h1 class="display-4" style="font-weight:700">List User</h1>
    <form method="get" asp-controller="Admin" asp-action="ListUser" class="d-flex justify-content-center align-items-center mt-2">
        <div class="me-2">
            <input type="text" name="searchName" class="form-control" placeholder="Tìm kiếm theo tên" value="@ViewData["Search"]" />
        </div>
        <button type="submit" class="btn btn-primary" style="height:37px">Search</button>
    </form>
    <br />
    <table class="table table-striped table-hover table-bordered align-middle text-center shadow-sm">
        <thead class="table-primary">
            <tr>
                <th>Full Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Gender</th>
                <th>Role</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var f in Model)
            {
                <tr>
                    <td>@f.FullName</td>
                    <td>@f.Email</td>
                    <td>@f.PhoneNumber</td>
                    <td>
                        @(f.Gender == true ? "Nam" : "Nữ")
                    </td>
                    <td>@f.Role</td>
                    <td>
                        <a class="btn btn-sm btn-outline-primary" asp-area="" asp-controller="Admin" asp-action="EditRole" asp-route-UserID="@f.UserId">
                            <i class="bi bi-pencil-square"></i> Edit Role
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>



