@{
    ViewData["Title"] = "Home Page";
}

@model HoldEvent.Models.VenueSearchViewModel

<div class="row">
    <div class="col-md-6">
        <form method="get" asp-controller="Organizer" asp-action="ListVenue" asp-for ="" class="d-flex">
            <div class="mt-3 me-3">
                <input type="text" class="form-control" placeholder="tìm kiếm theo " asp-for="Search" />
                <span asp-validation-for="Search" class="text-danger"></span>
            </div>
            <div class="mt-3 me-3">
                <select class="form-control" asp-for="Select">
                    <option value="name">Name</option>
                    <option value="capacity">Capacity</option>
                    <option value="price">Max Price</option>
                </select>
            </div>
            
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>
</div>

<div class="text-center">
    <h1 class="display-4">Venue</h1>
</div>


<div class="row">
    @foreach (var c in Model.Venues)
    {
        <div class="col-md-3 mt-3">
            <div class="mt-3 text-center">
                <h2 class="display-6">@c.Name</h2>
            </div>
            <div class="mt-3">
                <p>@c.Description</p>
            </div>
            <div class="mt-3">
                <p>Capacity: @c.Capacity</p>
            </div>
            <div class="mt-3">
                <p>@c.Address</p>
            </div>
            <div class="mt-3">
                <p>Price: $@c.Price</p>
            </div>

            <div class="mt-3">
                <a class=" btn btn-primary" type="" asp-area="" asp-controller="Organizer" asp-action="BookingVenue" asp-route-VenueID="@c.VenueId">Booking</a>
            </div>
        </div>
    }
</div>
