@{
    ViewData["Title"] = "Home Page";
}

@model HoldEvent.Models.VenueSearchViewModel

<div class="text-center">
    <h1 class="display-4" style="font-weight:700">Venue</h1>
</div>
<div class="row">
    <div class="col-md-12">
        <form method="get" asp-controller="Organizer" asp-action="ListVenue" asp-for="" class="d-flex justify-content-center align-items-center mt-2">
            <div class="me-2">
                <input type="text" class="form-control" placeholder="tìm kiếm theo " asp-for="Search" />
                <span asp-validation-for="Search" class="text-danger"></span>
            </div>
            <div class="me-2">
                <select class="form-control" asp-for="Select">
                    <option value="name">Name</option>
                    <option value="capacity">Capacity</option>
                    <option value="price">Max Price</option>
                </select>
            </div>

            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>
</div>

<div class="row" style="padding-top:20px;">
    @foreach (var c in Model.Venues)
    {
        <div class="col-12 col-md-6 col-lg-3 mb-4">
            <div class="p-4 border rounded-3 shadow-sm h-100 bg-light">
                <div class="text-center mb-3">
                    <h2 class="h5 fw-semibold">@c.Name</h2>
                </div>
                <p class="mb-2 text-muted">@c.Description</p>
                <p class="mb-2">Capacity: <strong>@c.Capacity</strong></p>
                <p class="mb-2">Address: <strong>@c.Address</strong></p>
                <p class="mb-3">Price: <strong>$@c.Price</strong></p>
                <div class="text-center">
                    <a class="btn btn-primary px-4" asp-area="" asp-controller="Organizer" asp-action="BookingVenue" asp-route-VenueID="@c.VenueId">Booking</a>
                </div>
            </div>
        </div>
    }
</div>

