@{
    ViewData["Title"] = "Home Page";
}

@model List<HoldEvent.Models.Entities.Event>

<div class="text-center">
    <h1 class="display-4" style="font-weight:700">Event</h1>
</div>
<div class="d-flex justify-content-center align-items-center mt-2">
    <a class="btn btn-primary me-3" asp-area="" asp-controller="Organizer" asp-action="CreateEditEvent">Create Event</a>
    <form method="get" asp-action="ListEvent" class="d-flex justify-content-center align-items-center">
        <div class="me-2">
            <input type="text" name="searchName" class="form-control" placeholder="Tìm kiếm theo tên" value="@ViewData["Search"]" />
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>

<div class="row" style="margin-top:30px;">
    @foreach (var c in Model)
    {
        <div class="col-12 col-md-6 col-lg-3 mb-4">
            <div class="p-3 border rounded shadow-sm h-100 d-flex flex-column">
                <div class="text-center mb-3">
                    <h3 class="h5 fw-bold">@c.Name</h3>
                </div>
                <p class="flex-grow-1 mb-2 text-muted">@c.Description</p>
                <p class="mb-1"><strong>Start Time:</strong> @c.StartTime</p>
                <p class="mb-1"><strong>End Time:</strong> @c.EndTime</p>
                <p class="mb-3"><strong>Is Public:</strong> @c.IsPublic </p>

                <div class="d-flex gap-2 flex-wrap justify-content-center mt-auto">
                    <a class="btn btn-primary flex-fill" asp-area="" asp-controller="Organizer" asp-action="CreateEditEvent" asp-route-EventID="@c.EventId">Edit</a>
                    <a class="btn btn-secondary flex-fill" asp-area="" asp-controller="Organizer" asp-action="ViewDetailMyEvent" asp-route-EventID="@c.EventId">View Detail</a>
                    <a class="btn btn-danger flex-fill" asp-area="" asp-controller="Organizer" asp-action="DeleteEvent" asp-route-EventID="@c.EventId">Delete</a>
                </div>

                <span asp-validation-for="@c.Name" class="text-danger mt-2"></span>
            </div>
        </div>
    }
</div>
