@{
    ViewData["Title"] = "Home Page";
}

 @model List<HoldEvent.Models.TicketUserViewModel>

<div class="text-center">
    <h1 class="display-4" style="font-weight:700">My Ticket</h1>
    <br />
    <div class="row">
        <div class="col-md-12">
            <form method="get" asp-controller="User" asp-action="MyTicket" class="d-flex justify-content-center align-items-center mt-2">
                <div class="me-2">
                    <input type="text" name="searchName" class="form-control" placeholder="tìm kiếm theo tên sự kiện" value="@ViewData["Search"]" />
                </div>
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
        </div>
    </div>
    <br />
    <table class="table table-bordered table-hover align-middle text-center">
        <thead class="table-primary">
            <tr>
                <th>Event Name</th>
                <th>Price</th>
                <th>Ticket Type</th>
                <th>Quantity</th>
                <th>Location</th>
                <th>Address</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var t in Model)
                {
                    <tr>
                        <td>@t.NameEvent</td>
                        <td>@t.Price</td>
                        @if(t.TicketType == 1)
                        {
                            <td>Vé thường</td>
                        }
                        else
                        {
                            <td>Vé Vip</td>
                        }
                        <td>@t.Quantity</td>
                        <td>@t.NameVenue</td>
                        <td>@t.Address</td>
                        <td>@t.StartTime</td>
                        <td>@t.EndTime</td>
                        @if(t.Status == 1)
                        {
                            <td>unused</td>
                            <td>
                                <a class="btn btn-sm btn-outline-primary" asp-area="" asp-controller="User" asp-action="UseTicket" asp-route-TicketID="@t.TicketId">
                                    Use Ticket
                                </a>
                            </td>
                        }
                        else
                          if(t.Status == 0)
                            {
                                <td>used</td>
                                <td></td>
                            }
                            else
                            {
                                <td>Expired</td>
                                <td></td>                       
                            }
                    </tr>
                }
            }
        </tbody>
    </table>
</div>



