@{
    ViewData["Title"] = "Home Page";
    var UserId = ViewData["UserId"] as string;
    var FullName = ViewData["FullName"] as string;
}

@if (String.IsNullOrWhiteSpace(UserId))
{
    <div class="text-center">
        <h1 class="display-4" style="font-weight:700">Welcome you</h1>
    </div>
}
else
{
    <div class="text-center">
        <h1 class="display-4" style="font-weight:700">Welcome @FullName</h1>
    </div>
}

@model List<HoldEvent.Models.Entities.Event>

<div class="row" style="display: flex; align-items: center; justify-content: center; margin-top:20px;">
    <div class="col-md-6" style="display: flex; align-items: center; justify-content: center;">
        <form method="get" asp-action="Index" class="d-flex" style="display: flex; align-items: center; justify-content: center;">
            <input type="text" name="searchName" class="form-control" placeholder="Tìm kiếm theo tên" value="@ViewData["Search"]" />
            <button type="submit" class="btn btn-primary" style="height:37px; margin-left: 0.5rem;">Search</button>
        </form>
    </div>
</div>

<div class="text-center">
    <h1 class="display-4" style="font-size:40px;font-weight:700;margin-top:15px;">Event</h1>
</div>

<div class="row">
    @foreach (var c in Model)
    {
        <div class="col-md-3 mt-3">
            <div class=" border rounded-3 shadow-sm h-100 d-flex flex-column" style="background-color:#f8f9fa;">
                <img src="https://quangcaotruyenhinh.com/wp-content/uploads/2021/06/unnamed.jpg" />
                <div class="text-center  p-3">
                    <h2 class="h5 text-primary">@c.Name</h2>
                </div>

                <p class="mb-1 flex-grow-1 px-3">@c.Description</p>

                <p class="mb-1"><strong>Start Time:</strong> @c.StartTime</p> 
                <p class="mb-3"><strong>End Time:</strong> @c.EndTime</p> 

                <div class="d-grid gap-2 mt-auto">
                     <a class="btn btn-outline-primary btn-sm" asp-controller="User" asp-action="ViewDetailEvent" asp-route-EventID="@c.EventId">View Detail</a> 
                     <a class="btn btn-primary btn-sm" asp-controller="User" asp-action="BookTicket" asp-route-EventID="@c.EventId">Book Ticket</a> 
                </div> 
            </div>
        </div>

    }
</div>



