@{
    ViewData["Title"] = "Home Page";
    var UserId = ViewData["UserId"] as string;
    var FullName = ViewData["FullName"] as string;
}

@if(String.IsNullOrWhiteSpace(UserId))
{
    <div class="text-center">
        <h1 class="display-4">Welcome you </h1>
    </div>
}
else
{
    <div class="text-center">
        <h1 class="display-4">Welcome @FullName</h1>
    </div>
}

@model List<HoldEvent.Models.Entities.Event>

<div class="row">
    <div class="col-md-6">
        <form method="get" asp-action="Index" class="d-flex">

            <div class="mt-3 me-3">
                <input type="text" name="searchName" class="form-control" placeholder="tìm kiếm theo tên" value="@ViewData["Search"]" />
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>
</div>

<div class="text-center">
    <h1 class="display-4">Event</h1>
</div>

<div class="row">
    @foreach (var c in Model)
    {
        <div class="col-md-3 mt-3">
            <div class="mt-1 text-center">
                <h2 class="display-6">@c.Name</h2>
            </div>
            <div class="mt-1">
                <p>@c.Description</p>
            </div>
            <div class="mt-1">
                <p>Start Time: @c.StartTime</p>
            </div>
            <div class="mt-1">
                <p>End Time: @c.EndTime</p>
            </div>

            <div class="mt-3">
                <a class=" btn btn-primary" type="" asp-area="" asp-controller="User" asp-action="ViewDetailEvent" asp-route-EventID="@c.EventId">View Detail</a>
                <a class=" btn btn-primary" type="" asp-area="" asp-controller="User" asp-action="BookTicket" asp-route-EventID="@c.EventId">BookTicket</a>
            </div>
        </div>
    }
</div>


